{% extends "base.html" %}
{% block main %}
    <h2>Text token list</h2>
{% endblock %}
{% block results %}
 <table class="table">
        <tr>
            <th>Text</th>
            <th>Language</th>
            <th>Remove Stop Words</th>
            <th>Created</th>
            <th>Has Tokens</th>
            <th>Detail</th>
        </tr>
    {% for text in object_list %}
        <tr>
            <td>
                <a href="{% url 'analysis:text_token' pk=text.pk %}">
                    {{text.text}}
                </a>
            </td>
            <td>{{text.language}}</td>
            <td>{{text.remove_stopwords}}</td>
            <td>
                {{text.create}}
            </td>
            <td>
                {{text.has_tokens}}
            </td>
            <td>
                <a class="btn btn-info" href="{% url 'analysis:text_token' pk=text.pk %}">
                    Detail
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
